<!DOCTYPE html>
<html>
    <head>
        <title>E-Deals</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta charset="utf-8"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
        .accordion-button:not(.collapsed)::after,
        .accordion-button::after {
            background-image: unset !important;
        </style>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
                <div class="container-fluid">
                    <img src="/favicon-white.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    <a class="navbar-brand ms-2" href="/index">
                        E-Deals
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/map">Deals Map</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/submit">Submit Deal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/profile">My Profile</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container my-5">
                <div class="form-outline">
                    <div class="col">
                        <input type="search" id="form1" class="form-control" placeholder="Filter Items" aria-label="Search" />
                    </div>
                </div>
                <div class="accordion mt-3" id="itemsAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                First Level Category
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#itemsAccordion">
                            <div class="accordion-body">
                                <div class="accordion" id="subone-itemsAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="subone-headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#subone-collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Second Level Category
                                            </button>
                                        </h2>
                                        <div id="subone-collapseOne" class="accordion-collapse collapse" aria-labelledby="subone-headingOne" data-bs-parent="#subone-itemsAccordion">
                                            <div class="accordion-body">
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 1
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 2
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 3
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="subone-headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subone-collapseTwo" aria-expanded="false" aria-controls="subone-collapseTwo">
                                                Second Level Category
                                            </button>
                                        </h2>
                                        <div id="subone-collapseTwo" class="accordion-collapse collapse" aria-labelledby="subone-headingTwo" data-bs-parent="#subone-itemsAccordion">
                                            <div class="accordion-body">
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 1
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 2
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 3
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                First Level Category
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#itemsAccordion">
                            <div class="accordion-body">
                                <div class="accordion" id="subtwo-itemsAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="subtwo-headingTwo">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#subtwo-collapseOne" aria-expanded="true" aria-controls="collapseTwo">
                                                Second Level Category
                                            </button>
                                        </h2>
                                        <div id="subtwo-collapseOne" class="accordion-collapse collapse" aria-labelledby="subtwo-headingTwo" data-bs-parent="#subtwo-itemsAccordion">
                                            <div class="accordion-body">
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 1
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 2
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 3
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="subtwo-headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subtwo-collapseTwo" aria-expanded="false" aria-controls="subtwo-collapseTwo">
                                                Second Level Category
                                            </button>
                                        </h2>
                                        <div id="subtwo-collapseTwo" class="accordion-collapse collapse" aria-labelledby="subtwo-headingTwo" data-bs-parent="#subtwo-itemsAccordion">
                                            <div class="accordion-body">
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 1
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 2
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 3
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                First Level Category
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#itemsAccordion">
                            <div class="accordion-body">
                                <div class="accordion" id="subthree-itemsAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="subthree-headingThree">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#subthree-collapseOne" aria-expanded="true" aria-controls="collapseTwo">
                                                Second Level Category
                                            </button>
                                        </h2>
                                        <div id="subthree-collapseOne" class="accordion-collapse collapse" aria-labelledby="subthree-headingTwo" data-bs-parent="#subthree-itemsAccordion">
                                            <div class="accordion-body">
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 1
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 2
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 3
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="subthree-headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subthree-collapseTwo" aria-expanded="false" aria-controls="subthree-collapseTwo">
                                                Second Level Category
                                            </button>
                                        </h2>
                                        <div id="subthree-collapseTwo" class="accordion-collapse collapse" aria-labelledby="subthree-headingTwo" data-bs-parent="#subthree-itemsAccordion">
                                            <div class="accordion-body">
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 1
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 2
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 3
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                First Level Category
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#itemsAccordion">
                            <div class="accordion-body">
                                <div class="accordion" id="subfour-itemsAccordion">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="subfour-headingFour">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#subfour-collapseOne" aria-expanded="true" aria-controls="collapseTwo">
                                                Second Level Category
                                            </button>
                                        </h2>
                                        <div id="subfour-collapseOne" class="accordion-collapse collapse" aria-labelledby="subfour-headingTwo" data-bs-parent="#subfour-itemsAccordion">
                                            <div class="accordion-body">
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 1
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 2
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 3
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="subfour-headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subfour-collapseTwo" aria-expanded="false" aria-controls="subfour-collapseTwo">
                                                Second Level Category
                                            </button>
                                        </h2>
                                        <div id="subfour-collapseTwo" class="accordion-collapse collapse" aria-labelledby="subfour-headingTwo" data-bs-parent="#subfour-itemsAccordion">
                                            <div class="accordion-body">
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 1
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 2
                                                </button>
                                                <button class="accordion-button collapsed" type="button" onclick="select(this)">
                                                    Item 3
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="views/submit/submit.js"></script>
    </body>
</html>
